#image-grid {
  padding-top: 20px;
  width: 1148px;
  margin: 0 auto;
}

@media(max-width: 1440px){
  #image-grid {
    width: 1148px;
  }
}

#photographer-info {
  padding: 15px;
  font-size: 13px;
  line-height: 1.5;
}

#photographer-info .info-header {
  font-weight: bold;
}

#preview-container{
  display: inline-block;
  margin: 5px;
  padding: 2px;
  outline: 1px solid #eee;
  height: 150px; width: 150px;
  cursor: pointer;
}

  #preview-container:hover{
    outline: 1px solid #999;
  }

#lightbox{
  display: none;
  position: fixed !important;
  z-index: 999;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.nav-links {
  color: #000;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
}
  .nav-links:hover {
    background-color: #e9e9e9;
  }

#close {
  top: 0px; left: 0px;
}

#previous {
  left: 0px; top: 50px;
}

#next {
  right: 0px; top: 50px;
}

#lightbox-image{
  position: absolute;
  height: auto;
  top: 50%; left:50%;  
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 10px;
  background-color: #fff;

}

#image-title {
  color: #000;
  position: absolute;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  bottom: 0;
  font-size: 12px;
  max-width: 200px;
}

.lightbox-active #lightbox{
	display: block;
}